---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Licenses from "@components/licenses.astro";
import Check from "/check.svg";
import Button from "@components/ui/button.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-8 mx-auto max-w-4xl mt-16 px-5">
      <div class="col-span-2">
        <p class="text-lg leading-relaxed text-slate-700">
          Welcome to California Design Solutions - Your Trusted Home Improvement
          Specialists. Since 2007, we have been locally owned and operated,
          providing top-notch contracting services to our valued clients. <br
          /><br />With over 16 years of industry experience, we have honed our
          skills to deliver exceptional results in Additions, Kitchen Remodels,
          and a wide range of Home Improvement projects. Our commitment to
          quality workmanship, combined with our dedication to customer
          satisfaction, sets us apart as the go-to choice for all your
          renovation needs.
        </p>
        <br />
        <a href="/contact"> <Button>Work with us</Button></a>
        <!-- <img class="my-4 rounded" src="/unsplash/k.jpg" /> -->
        <br />
      </div>
      <Licenses />
      <!-- <a href="/contact"> <Button>Work with us</Button></a> -->
    </div>
  </Container>
</Layout>
