---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
// import Hero from "@components/Hero";
import Services from "@components/services.astro";
import Testimonials from "@components/testimonials.astro";
import Link from "@components/ui/link.astro";
import ProjectComponent from "@components/projectComponent.astro";
import BaseHead from "@layouts/BaseHead.astro";
import Navbar from "@components/navbar/navbar.astro";
---

<!doctype html>
<html lang="en" class="antialiased break-words">
  <head>
    <BaseHead title="" />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QZ7M5SN5FX"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QZ7M5SN5FX");
    </script>
  </head>
  <body>
    <Navbar />
    <Container>
      <main
        class="relative text-center flex justify-center items-center mb-16 w-full h-[90vh]">
        <img
          src="/home-design.jpg"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
        <div
          class="flex flex-col items-center justify-center border h-full w-full p-8 bg-black bg-opacity-50 rounded-md z-20">
          <h1
            class="text-4xl lg:text-4xl xl:text-5xl font-bold text-white tracking-tighter">
            Transform Your Home with Expert Design & Renovation
          </h1>
          <p
            class="md:text-xl sm:text-lg mt-4 text-white max-w-2xl tracking-tight">
            Over 16 years of trusted expertise in kitchen, bathroom, and home
            remodel and renovation throughout Sacramento.
            <br />
          </p>
          <div class="mt-6 flex flex-col sm:flex-row gap-3">
            <Link
              href="/contact"
              class="flex gap-1 items-center justify-center"
              style="muted"
              rel="noopener">
              Schedule an Appointment
            </Link>
            <Link
              size="lg"
              style="outline"
              rel="noopener"
              href="/projects"
              class="flex gap-1 items-center justify-center">
              See our Work
            </Link>
          </div>
        </div>
      </main>
    </Container>
    <Features />
    <Services />
    <ProjectComponent />
    <Testimonials />
    <Cta />
  </body><Footer />
  <style is:global>
    html {
      scroll-behavior: smooth;
    }
    /* Improve Page speed */
    /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
    img {
      content-visibility: auto;
    }
  </style>
</html>
