---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ProjectComponent from "@components/projectComponent.astro";

const publishedBlogEntries = await getCollection("photos", ({ data }) => {
  return data;
});
---

<Layout title="Projects">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Recent Projects</Fragment>
      <Fragment slot="desc">A collection of our projects.</Fragment>
    </Sectionhead>
    <main class="mt-16 px-5">
      <ProjectComponent />
    </main>
  </Container>
</Layout>
