---
// @ts-ignore
import Check from "/check.svg";

const features = [
  {
    img: "/check.svg",
    size: "width: 35px; height: 35px",
    title: "100% Recommended",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
  },
  {
    img: "/star.svg",
    size: "width: 35px; height: 35px",
    title: "16 Years in Business",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
  },
  {
    img: "/homeadvisor.png",
    size: "width: 35px; height: 35px",
    title: "HomeAdvisor Screened and Approved",
    description: "",
  },
  {
    img: "/bzscore.png",
    size: "width: 35px; height: 35px",
    title: "112 BuildZoom Score",
    description: "97th Percentile above other contractors in California",
  },
  {
    img: "/paper.svg",
    size: "width: 30px; height: 30px",
    title: "127 Permitted Projects",
    description: "97th Percentile above other contractors in California",
  },
  {
    img: "/verified.png",
    size: "width: 45x; height: 35px",
    title: "Verified License",
    description: "See our license info",
  },
];
---

<!-- <div class="flex flex-col gap-3 mx-auto max-w-4xl m-16 text-center">
  <h2 class="font-bold text-3xl text-gray-800">Why Us</h2>
</div> -->
<div class="grid sm:grid-cols-1 md:grid-cols-3 auto-rows-fr p-4 gap-4">
  {
    features.map((item) => (
      <>
        <div class="flex border p-4 rounded-lg shadow-sm hover:shadow-slate-300 transition">
          <div class="flex gap-4 items-start">
            <div>
              <div class="flex items-center">
                <img src={item.img} class="mr-2" style={item.size} />
                <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
              </div>

              <p class="text-slate-500 mt-2 leading-relaxed">
                {item.description}
              </p>
            </div>
          </div>
        </div>
      </>
    ))
  }
</div>
