---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="text-center flex justify-center items-center bg-[url('/kitchencollection.jpg')] bg-cover mb-16"
  style="height: 90vh">
  <!-- <main
  class="grid lg:grid-cols-2 place-items-center px-5 pt-0 pb-0 md:pt-0 md:pb-0"> -->
  <!-- <div class="py-6 md:order-1 md:block">
    <Picture
      src={heroImage}
      alt="Hero image of big kitchen"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div> -->
  <div
    class="flex flex-col items-center justify-center border h-full w-full p-8 bg-black bg-opacity-40 rounded-md">
    <h1 class="text-4xl lg:text-4xl xl:text-5xl font-bold text-white">
      Sacramento Remodeling and Renovation Contractor
    </h1>
    <p class="md:text-xl sm:text-lg mt-4 text-white max-w-xl">
      California Design Solutions offers kitchen, bathroom, counter, and any
      other interior remodeling and renovations.<wbr />
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->
        Schedule an Appointment
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/projects"
        class="flex gap-1 items-center justify-center">
        <!-- <Icon class="text-black w-4 h-4" name="bx:bxl-github" /> -->
        See our Work
      </Link>
    </div>
  </div>
</main>
