<div>
    <div id="licenses" class="p-4 border bg-slate-100 rounded">
        <h1 class="text-lg text-slate-950 font-bold">License Info</h1>
        <div class="text-slate-700">
            <p>B-General Building Contractor</p>
            <p>#: 906002</p>
            <p>EXP: 11/30/2023</p>
            <p>C-06 Cabinet, Millwork and Finish Carpentry</p>
            <p>#: 906002</p>
            <p>EXP: 11/30/2023</p>
        </div>
    </div>
    <div class="mt-4">
        <p class="text-md text-gray-800">Cities Served:</p>
        <div class="grid grid-cols-2 text-sm text-gray-600">
            <div>
                <p>Sacramento</p>
                <p>Folsom</p>
                <p>Fairfield</p>
                <p>Elk Grove</p>
                <p>Stockton</p>
                <p>Davis</p>
                <p>Rancho Cordova</p>
                <p>Citrus Heights</p>
                <p>Suisun City</p>
                <p>Vacaville</p>
                <p>Roseville</p>
                <p>Carmichael</p>
                <p>Woodland</p>
                <p>Auburn</p>
                <p>Winters</p>
                <p>Georgetown</p>
                <p>Mather</p>
                <p>Linden</p>
                <p>Capay</p>
            </div>
            <div>
                <p>Diamond Springs</p>
                <p>Elverta</p>
                <p>El Dorado</p>
                <p>Colfax</p>
                <p>Travis</p>
                <p>AFB</p>
                <p>Placerville</p>
                <p>Granite Bay</p>
                <p>Holt</p>
                <p>Woodbridge</p>
                <p>Lincoln</p>
                <p>Garden Valley</p>
                <p>Galt</p>
                <p>Acampo West</p>
                <p>Sacramento</p>
                <p>El Dorado Hills</p>
                <p>Rio Vista</p>
                <p>Orangevale</p>
                <p>Dixon</p>
                <p>Antelope</p>
                <p>Lodi</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
