---
import { Image } from "astro:assets";

const servicesCollection = [
  {
    name: "Designs",
    description: "",
    img: {
      src: "https://st.hzcdn.com/simgs/0a21c9b600600af3_8-5662/modern-bathroom.jpg",
      alt: "Image of bathroom remodel",
    },
  },
  {
    name: "Major Renovation",
    description: "",
    img: {
      src: "https://st.hzcdn.com/simgs/c901844400d2bfb2_8-0674/transitional-bathroom.jpg",
      alt: "Image of interior major renovation",
    },
  },
  {
    name: "Project Management",
    description: "",
    img: {
      src: "https://st.hzcdn.com/simgs/a80146dd00d4c4dc_8-5089/basement.jpg",
      alt: "Image of sketches",
    },
  },
];
---

<>
  <div class="my-16 flex w-full items-center justify-center">
    <h2 class="mb-4 font-bold text-3xl text-gray-800">Our Services</h2>
  </div>
  <div class="grid md:grid-cols-3 gap-8 mx-16 mt-12 px-5">
    {
      servicesCollection.map((item, i) => (
        <div class="overflow-hidden border rounded">
          <div>
            <div class="w-full aspect-[16/9]">
              <Image
                src={item.img.src}
                alt={item.img.alt}
                width={400}
                height={400}
                sizes="(max-width: 800px) 100vw, 800px"
                class="rounded w-full h-full object-cover overflow-hidden"
              />
            </div>
          </div>
          <div class="mt-4 text-center font-bold p-4">
            <h2 class="text-xl text-gray-800 text-bold">{item.name}</h2>
            <h2 class="text-gray-600 text-md font-normal">
              {item.description}
            </h2>
          </div>
        </div>
      ))
    }
  </div>
  <div class="mx-auto max-w-5xl mt-32 items-center justify-center">
    <div class="mx-5 grid md:grid-cols-2 gap-8">
      <div>
        <p class="uppercase leading-1 text-sm">California Design Solutions</p>
        <h2 class="mb-4 font-bold text-5xl text-gray-800 py-2">
          Over 40 years of service
        </h2>
        <p class="text-sm leading-relaxed text-slate-600">
          Boasting more than 16 years of expertise in the industry, we have
          refined our abilities to achieve extraordinary outcomes in Additions,
          Kitchen Remodels, and an extensive array of Home Improvement
          undertakings. Our unwavering dedication to superior craftsmanship,
          coupled with our unwavering focus on customer satisfaction,
          distinguishes us as the preferred option for fulfilling all your
          renovation requirements.
        </p>
      </div>
      <div class="hidden md:flex justify-center items-center">
        <Image
          src="/unsplash/o.jpg"
          width={400}
          height={400}
          sizes="(max-width: 800px) 100vw, 800px"
          alt="The Astro logo"
          class="rounded"
        />
      </div>
    </div>
  </div>
</>
